.experience {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: green;
}

.experience-name {
  font-size: 20px;
}

.experience-name-description {
  display: grid;
  row-gap: 0.5rem;
  font-size: 15px;
}
