.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  outline: 2px white solid;
  border-radius: 1rem;
}

.nav-item {
  display: flex;
  justify-content: center;
}
